:root {
    --button: #1a1b26;
    --button-foreground: #a9b1d6;
    --button-bottom: #414868;
    /* ... define the rest of the variables ... */
    --button-hover: #2a2b36;
    --button-bottom-hover: #51546b;
    --button-active: #2a2b36;
    --button-bottom-active: #51546b;
    --background2: #1a1b26;
    --background2-bottom: #414868;
    --foreground: #a9b1d6;
    --accent: #61afef;
}

* {
    font-family: JetBrainsMono Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: var(--background2);
    border-bottom: 8px solid var(--background2-bottom);
    color: var(--foreground);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin: 0 4px;
}

#workspaces button {
    all: unset;
    background-color: var(--button);
    color: var(--button-foreground);
    border: none;
    border-bottom: 8px solid var(--button-bottom);
    border-radius: 5px;
    margin-left: 4px;
    margin-bottom: 2px;
    font-family: JetBrainsMono Nerd Font, sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    transition: transform 0.1s ease-in-out;
}

#workspaces button:hover {
    background-color: var(--button-hover);
    border-bottom: 8px solid var(--button-bottom-hover);
}

#workspaces button.active {
    background-color: var(--button-active);
    border-bottom: 8px solid var(--button-bottom-active);
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

tooltip {
    background-color: var(--background2);
    border: none;
    border-bottom: 8px solid var(--background2-bottom);
    border-radius: 5px;
}

tooltip decoration {
    box-shadow: none;
}

tooltip decoration:backdrop {
    box-shadow: none;
}

tooltip label {
    color: var(--foreground);
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 16px;
    padding: 0 5px 5px;
}
